.nav-search {
    padding: 6px 12px 0 12px;
}

.container.page {
    margin-top: 16px;
}

a.corso {
    color: unset;
}

    a.corso:hover {
        text-decoration: none;
    }

.stars .material-icons {
    font-size: 16px;
    color: rgb(244, 193, 80);
}

.valutazione, .prezzo {
    margin-bottom: 0;
}

.scrolling-wrapper-container {
    position: relative;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

    .scrolling-wrapper .inline-card {
        display: inline-block;
    }

.scrolling-wrapper, .scrolling-wrapper-flexbox {
    margin-bottom: 20px;
    -webkit-overflow-scrolling: touch;
}

    .scrolling-wrapper::-webkit-scrollbar {
        display: none;
    }

.arrow-container {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #eee;
    border-radius: 24px;
    position: absolute;
    top: 50%;
    z-index: 1;
    cursor: pointer;
}

    .arrow-container.arrow-container-left {
        left: 0;
        transform: translate(-50%, -50%);
    }

    .arrow-container.arrow-container-right {
        right: 0;
        transform: translate(50%, -50%);
    }

.scrolling-wrapper .card-img-top {
    height: 122px;
    object-fit: cover;
}

.scrolling-wrapper .inline-card {
    max-width: 215px;
}

.inline-card .card-title {
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 42px;
    font-size: 15px;
    text-overflow: ellipsis;
    font-weight: 600;
    white-space: normal;
}

.login-card {
    width: 100%;
    max-width: 350px;
    margin: auto;
}

    .login-card .btn {
        width: 100%;
    }

.form-group.error {
    color: #f00;
}

.card-utente i {
    font-size: 48px;
}

.card-utente {
    margin-bottom: 16px;
    color: rgba(0,0,0,.80);
}

    .card-utente:hover {
        text-decoration: none;
        color: rgba(0,0,0,1);
        -moz-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
        -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

.item-carrello {
    padding: 16px;
    margin-bottom: 16px;
    color: #212529;
}

    .item-carrello:hover {
        text-decoration: none;
        color: #212529;
    }


.ccard-container {
    position: relative;
    height: 286px;
}

.ccard {
    font-size: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    vertical-align: middle;
    width: 425px;
    height: 270px;
    text-align: left;
    padding: 30px;
    margin-bottom: 50px;
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    background: #463f6b;
}

.card__number {
    font-size: 25px;
    padding: 90px 0 15px;
    text-align: left;
}

.card__expiry-date {
    font-size: 14px;
    padding-bottom: 20px;
}

.card__owner {
    text-align: left;
}

.card__logo {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.card__strip {
    background: #000;
    height: 50px;
    margin-bottom: 30px;
}

.card__signature {
    float: left;
    width: 65%;
    height: 40px;
    margin-left: 10px;
    background: #999;
}

.card__ccv {
    float: left;
    margin-top: 5px;
    padding: 7px;
    background: #fff;
    color: #111;
    line-height: 1;
}

.card--front {
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.card--back {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

.ccard input {
    background: transparent;
    border: none;
    color: white;
}

input.card__ccv {
    width: 50px;
}

.label-card__expiry-date {
    width: 0px;
    margin-right: 10px;
    margin-left: 50px;
    font-size: 10px;
    display: inline-block;
}

.ccard input:focus {
    outline: none;
}

.btn-iconed .btn-icon {
    position: relative;
    left: -20px;
    display: inline-block;
    padding: 0px 0px;
}

.btn-iconed .btn-text {
    position: relative;
    top: -3px;
    font-weight: 500;
}

.btn-iconed .material-icons {
    position: relative;
    top: 2px;
}