@{
    ViewBag.Title = "Indice";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<ul>
    <li>@Html.ActionLink("Aggiunta corso", "EditCorso")</li>
    <li>@Html.ActionLink("Statistiche", "Statistiche")</li>
</ul>