
@{
    ViewBag.Title = "Statistiche";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div class="my-4">
    <h5>Corsi più venduti</h5>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID Corso</th>
                <th scope="col">Nome</th>
                <th scope="col">Prezzo</th>
                <th scope="col">Vendite</th>
                <th scope="col">Visualizza</th>
                <th scope="col">Modifica</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>