
@{
    ViewBag.Title = "UploadCorso";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

    <p>@ViewBag.Message</p>

    <script>
        setTimeout(() => {
            window.history.back();
        }, 3000);
    </script>

